In [19]:
import pandas as pd #para manejar el dataframe
import numpy as np #para abrir el csv
import matplotlib.pyplot as plt #para graficar 
from sklearn.preprocessing import normalize #para normalizar los datos
from sklearn.cluster import AgglomerativeClustering

In [20]:
path = 'C:/Users/sala5/Desktop/Persona-Lp2016ff.csv'
df = pd.read_csv(path, encoding='latin', low_memory=False)
df.head()

,Unnamed: 0,foliohog,id_pobla,edad,nacio_dia,nacio_mes,sexo,parentesco,asiste_esc,grado_inst,nivel_inst,residencia,alfabetism,edo_conyug,trabajo_sp,Kmeans
0,0,1,1,60,1,8,1,1,2,6,2,1,1,6,2,3
1,1,1,2,62,1,6,2,2,2,6,2,1,1,6,2,3
2,2,1,3,30,1,8,1,3,2,3,3,1,1,5,1,3
3,3,1,4,24,1,11,2,3,2,6,2,1,1,5,2,3
4,4,1,1,60,11,12,1,1,2,3,3,1,1,3,1,3

In [21]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df

,foliohog,id_pobla,edad,nacio_dia,nacio_mes,sexo,parentesco,asiste_esc,grado_inst,nivel_inst,residencia,alfabetism,edo_conyug,trabajo_sp,Kmeans
0,1,1,60,1,8,1,1,2,6,2,1,1,6,2,3
1,1,2,62,1,6,2,2,2,6,2,1,1,6,2,3
2,1,3,30,1,8,1,3,2,3,3,1,1,5,1,3
3,1,4,24,1,11,2,3,2,6,2,1,1,5,2,3
4,1,1,60,11,12,1,1,2,3,3,1,1,3,1,3
5,1,2,43,3,7,1,8,2,2,2,1,2,2,2,3
6,1,1,60,25,10,1,1,2,5,10,1,1,6,1,4
7,1,2,55,26,4,2,2,2,2,4,1,1,6,2,4
8,1,1,79,27,9,1,1,2,2,3,1,1,6,1,3
9,1,2,76,7,8,2,2,2,2,6,1,1,6,2,3
10,1,3,48,28,1,1,3,2,1,4,1,1,6,1,4
11,1,4,41,27,9,2,3,2,5,10,1,1,5,1,4
12,1,1,40,28,2,1,1,2,3,4,1,1,6,1,4
13,1,2,36,5,5,2,2,2,5,10,1,1,6,1,3
14,1,3,10,30,12,1,3,1,4,2,1,1,7,0,0
15,1,4,4,17,10,2,3,1,1,1,36,0,7,0,2
16,1,1,53,25,4,1,1,2,5,10,1,1,6,2,4
17,1,2,52,11,9,2,2,2,3,10,1,1,6,2,3
18,1,3,24,2,5,1,3,1,5,10,1,1,5,1,3
19,1,1,54,21,7,1,1,2,5,10,1,1,6,1,3
20,1,2,53,25,5,2,2,2,3,11,1,1,6,2,4
21,1,3,29,21,10,1,3,2,5,10,1,1,5,1,4
22,1,1,62,9,9,2,1,2,5,9,1,1,3,1,3
23,1,2,36,1,8,1,3,2,5,10,1,1,5,1,3
24,1,1,66,6,1,1,1,2,3,3,1,1,6,2,3
25,1,2,69,19,12,2,2,2,3,5,1,1,6,2,3
26,1,3,21,5,10,1,4,1,4,10,1,1,5,2,3
27,1,4,12,24,2,2,4,1,6,2,1,1,5,2,0
28,1,5,24,21,11,2,4,2,5,10,1,1,5,1,4
29,1,6,42,31,7,2,3,2,3,7,1,1,2,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218406,2,4,12,28,8,2,3,1,1,3,32,1,5,2,2
218407,2,5,8,23,11,2,3,1,3,2,32,1,7,0,2
218408,1,1,31,26,2,1,1,2,3,3,32,1,6,1,1
218409,1,2,31,10,12,2,2,2,3,4,32,1,6,2,1
218410,1,3,58,16,10,2,6,2,3,2,32,1,4,2,3
218411,1,4,6,13,11,2,3,1,1,2,32,1,7,0,2
218412,1,5,4,14,7,2,3,1,1,1,36,0,7,0,2
218413,1,6,1,31,1,1,3,0,7,13,36,0,7,0,2
218414,1,1,31,5,6,1,1,2,3,3,32,1,6,1,1
218415,1,2,29,27,10,2,2,2,3,3,32,1,6,2,1
218416,1,3,9,10,9,1,3,1,3,2,32,1,7,0,2
218417,1,1,53,1,11,1,1,2,3,3,32,1,6,1,3
218418,1,2,50,8,7,2,2,2,3,5,32,1,6,2,1
218419,1,3,26,18,9,2,3,2,5,10,32,1,5,2,1
218420,1,4,21,3,1,2,3,2,3,4,32,1,6,2,1
218421,1,5,19,8,9,2,3,1,1,10,32,1,5,2,1
218422,1,6,22,27,11,1,5,2,3,4,32,1,6,1,0
218423,1,7,1,21,4,1,4,0,7,13,36,0,7,0,2
218424,1,1,68,10,10,1,1,2,1,2,32,1,6,1,3
218425,1,2,57,24,5,2,2,2,6,2,32,1,6,2,1
218426,1,3,36,2,11,1,3,2,3,4,32,1,5,1,1
218427,1,1,44,9,6,2,1,2,3,8,32,1,6,2,1
218428,1,2,43,27,7,1,2,2,3,3,32,1,6,1,1
218429,1,3,12,22,7,2,3,1,6,2,32,1,5,2,2
218430,1,1,27,15,9,1,1,2,3,3,32,1,6,1,1
218431,1,2,0,3,9,2,3,0,7,13,36,0,7,0,2
218432,1,3,21,7,6,2,2,2,3,3,19,1,6,2,1
218433,1,1,46,10,6,2,1,2,3,3,32,1,4,1,1
218434,1,2,18,4,2,2,3,1,3,4,32,1,5,1,1
218435,1,3,13,22,8,2,3,1,1,3,32,1,5,2,2

In [22]:
df_sample = df.sample(frac=0.05, random_state=1)
df_sample.head()

,foliohog,id_pobla,edad,nacio_dia,nacio_mes,sexo,parentesco,asiste_esc,grado_inst,nivel_inst,residencia,alfabetism,edo_conyug,trabajo_sp,Kmeans
29286,1,2,25,2,6,2,3,2,3,3,5,1,5,1,3
84741,1,1,52,9,11,1,1,2,6,2,13,1,6,1,3
41121,1,6,20,20,2,2,5,2,3,4,7,1,1,2,4
138080,1,4,26,14,8,2,3,2,0,0,21,2,5,2,1
137253,1,1,56,15,8,1,1,2,5,10,21,1,6,1,3

In [23]:
x = normalize(df_sample, norm='l2', axis=1, copy=True)#,return_norm=False)

x.shape

(10922, 15)

In [24]:
ward = AgglomerativeClustering(n_clusters=4, 
                               affinity='euclidean', 
                               linkage='ward')

In [25]:

y_w = ward.fit_predict(x)

In [26]:
y_w

array([0, 0, 0, ..., 0, 3, 2], dtype=int64)

AttributeError: 'numpy.ndarray' object has no attribute 'unique'